{% comment %}
  Renders a header drawer menu for mobile and desktop.

  Usage:
  {% render 'header-drawer' %}
{% endcomment %}

<header-drawer data-breakpoint="{% if section.settings.menu_type_desktop == 'drawer' %}desktop{% else %}tablet{% endif %}">
  <details id="Details-menu-drawer-container" class="menu-drawer-container">
    <summary
      class="header__icon header__icon--menu header__icon--summary link focus-inset"
      aria-label="{{ 'sections.header.menu' | t }}"
    >
      <span>
        {{- 'icon-hamburger.svg' | inline_asset_content -}}
        {{- 'icon-close.svg' | inline_asset_content -}}
      </span>
    </summary>
    <div id="menu-drawer" class="gradient menu-drawer motion-reduce color-{{ section.settings.menu_color_scheme }}">
      <div class="menu-drawer__inner-container">
        <div class="menu-drawer__navigation-container">
          <nav class="menu-drawer__navigation">
            <ul class="menu-drawer__menu has-submenu list-menu" role="list">
              {%- for link in section.settings.menu.links -%}
                {% for block in section.blocks %}
                  {% assign header_menu = link.title | handle %}
                  {% assign block_header_menu = block.settings.navigation_title | handle %}
                  {% assign menu_available = false %}
                  {% if block_header_menu == header_menu %}
                    <li class="list-menu-item">
                      <a
                        id="HeaderMenu-{{ link.handle }}"
                        href="{{ link.url }}"
                        class="list-menu__item menu-drawer__menu-item"
                        {% if link.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        <span
                          {%- if link.current %}
                            class="header__active-menu-item"
                          {% endif %}
                        >
                          {{- link.title | escape -}}
                        </span>
                      </a>
                      {%- render 'header-custom-megamenu-blocks', block: block, link: link, section: section -%}
                    </li>
                    {% assign menu_available = true %}
                    {% break %}
                  {% endif %}
                {% endfor %}
                {% unless menu_available %}
                  <li class="{%  if link.links.size > 0 %}list-menu-item{% endif %}">
                    <a
                      id="HeaderMenu-{{ link.handle }}"
                      href="{{ link.url }}"
                      class="list-menu__item menu-drawer__menu-item"
                      {% if link.current %}
                        aria-current="page"
                      {% endif %}
                    >
                      <span
                        {%- if link.current %}
                          class="header__active-menu-item"
                        {% endif %}
                      >
                        {{- link.title | escape -}}
                      </span>
                    </a>
                    {% if link.links.size > 0 %}
                      <ul class="sub-menu second-level-menu sub-dropdown">
                        {% for secondLevelLink in link.links %}
                          <li>
                            <a href="{{ secondLevelLink.url }}">{{ secondLevelLink.title }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </li>
                {% endunless %}
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </details>
  {% comment %} <div class="header__icons iwMobLink">
    {% render 'wishlist-app-links', linkType: 'wishlist-page-link' %}
  </div> {% endcomment %}
  {%- if shop.customer_accounts_enabled -%}
    <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="spa-locator spa-locator-mobile">
      {%- if customer.first_name -%}
        <span class="header-user-text">{{ customer.first_name }}</span>
        {%- else -%}
          {% comment %} <span class="header-user-text">ACCOUNT</span> {% endcomment %}
          <img src="{{ 'user-icon.png' | asset_url }}" width="30px" height="100%" alt="User Icon" class="header-user-icon">
      {%- endif -%}
    </a>
  {%- endif -%}
</header-drawer>
